## User settings
xcuserdata/
*/xcuserdata/
#/sublime.xcodeproj/xcuserdata/

/.idea/
/Pods/

## Xcode 8 and earlier
*.xcscmblueprint
*.xccheckout


##
.DS_Store
/.build
/Packages
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc